@page "/"
@model AquilaSoftware.Pages.EntryMenuScreenModel
@{
    ViewData["Title"] = "EntryMenuScreen";
}
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AquilaSoftware</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/entryMenuScreen.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/v4-shims.css">

</head>
<body>
    <div class="row">
        <div class="col padding-0">
            <a class="btn btn-dark btn-lg btn-block" asp-page="/DrivingScreen">
                <i class="fa fa-car" style="font-size:48px;"></i>
            </a>
        </div>
        <div class="col padding-0">
            <a  class="btn btn-info btn-lg btn-block" asp-page="/HvacScreen">
                <i class="fa fa-fan" style="font-size:48px;"></i>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col padding-0">
            <a  class="btn btn-info btn-lg btn-block" asp-page="/MediaScreen">
                <i class="fa fa-music" style="font-size:48px;"></i>
            </a>

        </div>
        <div class="col padding-0">
            <a class="btn btn-dark btn-lg btn-block"  asp-page="/SettingsScreen">
                <i class="fa fa-cogs" style="font-size:48px;"></i>
            </a>
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


</body>
</html>




