<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AquilaSoftware</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

    @RenderSection("link", required: false)

</head>
<body>
   
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer id="statusBar" class="bg-dark text-white fixed-bottom ">
            <div class="d-flex justify-content-around bd-highlight ">
                <div class="p-2 "><div id="speed">40 mph</div></div>
                <div class="p-2">
                    <a id="homebutton" class="btn btn-dark btn btn-block" asp-page="/EntryMenuScreen">
                        <div id="time">12:00 pm</div>
                    </a>
                </div>
                <div class="p-2 ">
                    <div id="songname" >Song Name by Artist name</div>
                </div>
            </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
